name: CI
on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash -el {0}

jobs:
  tests:
    name: Tests - Python ${{ matrix.python-version }} - ${{ matrix.os }}
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11']
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Fetch full git history
        run: git fetch --prune --unshallow
      - name: Set up Micromamba env
        uses: mamba-org/setup-micromamba@25949dd7cbed1382ed14df19c63f04c72c72cd67
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.python-version }}
            pytest-emoji
            pytest-md
      - name: pip install
        run: pip install -e .
      - name: Run pytest
        uses: pavelzw/pytest-action@v2
        with:
          custom-arguments: --color=yes

  pre-commit-checks:
    name: pre-commit checks
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0
